.card-style {
    width: 45px;
    height: 50px;
    background-image: url(img/cards.png);
    background-position: 0px 0px;
}
table,  td{
  border: 1px solid gray;
  align-content: center;
}
.cell-winner{
  background-color: rgb(106, 236, 106);
}
.cell-loser{ 
    background-color:rgb(212, 50, 50);
}
.cell-inactive{
    background-color:rgb(71, 116, 116);
    color: white;
}
.column-style{
    display:inline-block;
    vertical-align:top;
}
.disabled-control{
    pointer-events: none;
    opacity: 0.3;
}
.hidden-control{
    display: none;
}
  